<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--定义变量-->
    <property name="appName1" value ="名称1"/>
    <property name="appName2" value ="名称2"/>
    <property name="appName3" value ="${appName1}+${appName2}"/>

    <!--引用变量-->
    <contextName>${appName3:-默认值}</contextName>
    <!--控制台输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d==%contextName === [%thread] %-5level %logger{36}[%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>



    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>